.app-header {
    background: $gradient-secondary;
    position: relative;
    padding: $padding-small;
    margin-bottom: $padding-small;
    box-shadow: $box-shadow-light;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: $logo-width;
        height: $logo-height;
        margin: 0 0 0 10px;
        border-radius: 30%;

        &:hover {
            scale: 1.1;
        }
    }

    & .about-btn {
        font-family: $secondary-font;
        background-color: initial;
        font-size: 22px;
        padding: 0;
        margin: 0;
    }

    .user-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: $secondary-font;

        div {
            display: flex;
            align-items: center;
        }

        img {
            border-radius: $border-radius-circle;
            object-fit: cover;
            width: 40px;
            height: 40px;
        }

        .logout-btn,
        .login-ham-btn {
            font-family: $secondary-font;
            background: $gradient-accent;
            border: none;
            border-radius: 8%;
            width: fit-content;
            font-size: 1em;
            font-weight: 600;
            align-self: end;
            color: rgb(255, 255, 255);
            transition: all 0.3s;

            &:hover {
                color: rgb(255, 255, 255);
                transform: scale(1.1);
            }
        }
    }
}