.app-header {
    background: linear-gradient(135deg, #167ca5 0%, #2bb480 100%);
    position: relative;

    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 8px 16px 2px lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 100px;
        height: 100px;
        margin: 0 0 0 10px;
        border-radius: 30%;


        &:hover {
            scale: 1.1;
        }
    }

    & .about-btn {
        font-family: "Lato", sans-serif;
        background-color: initial;
        font-size: 22px;
        font-family: "Lato", sans-serif;
        padding: 0;
        margin: 0;
    }

    .user-info {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: "Lato", sans-serif;

        div {
            display: flex;
            align-items: center;
        }

        img {
            border-radius: 50%;
            object-fit: cover;
            width: 40px;
            height: 40px;
        }

        .logout-btn,
        .login-ham-btn {
            font-family: "Lato", sans-serif;
            background: linear-gradient(135deg, #a5168d 0%, #b45d2b 100%);
            border: none;
            border-radius: 8%;
            width: fit-content;
            font-size: 1em;
            font-weight: 600;
            align-self: end;
            color: rgb(255, 255, 255);
            transition: all 0.3s;

            &:hover {
                // background: linear-gradient(135deg, #b4a62b 0%, #a5161d 100%);
                color: rgb(255, 255, 255);
                transform: scale(1.1);
            }
        }
    }
}