.about-page {
    font-family: $secondary-font;
    background: $gradient-about;
    color: #ffffff;
    padding: $padding-medium;
    margin: 40px auto;
    border-radius: $border-radius-large;
    box-shadow: $box-shadow-large;
    max-width: 800px;
    text-align: center;

    .about-header {
        text-align: center;
        margin-bottom: $padding-medium;

        .logo {
            width: $about-logo-width;
            height: auto;
            margin-bottom: $padding-medium;
            animation: spin $spin-animation-duration $spin-animation-timing $spin-animation-iteration;
            border-radius: 24%;
        }

        h1 {
            font-size: $font-size-large;
            color: $nonary-color;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        }
    }

    .about-content {
        p {
            font-size: $font-size-medium;
            line-height: $line-height;
            margin-bottom: $padding-medium;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

            a {
                color: $nonary-color;
                text-decoration: none;
                font-weight: bold;
                transition: color 0.3s;

                &:hover {
                    color: $denary-color;
                }
            }

            code {
                background-color: rgba(0, 0, 0, 0.596);
                border-radius: 5px;
                padding: 2px 5px;
            }
        }

        & note {
            font-size: $font-size-xsmall;
        }
    }

    .about-footer {
        text-align: center;
        margin-top: $padding-medium;
        font-size: $font-size-small;
        position: relative;

        p {
            margin: 0;
            padding: $padding-small;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            display: inline-block;
            transition: transform 0.3s;

            &:hover {
                transform: $transform-scale-hover-footer;
                cursor: pointer;

                &::after {
                    content: "Yossef Dahan | GitHub | LinkedIn";
                    display: block;
                    color: $nonary-color;
                    margin-top: $padding-small;
                }
            }
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        30% {
            transform: rotate(30deg);
        }

        60% {
            transform: rotate(0deg);
        }

        80% {
            transform: rotate(-30deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }
}