.about-page {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(135deg, #2b5876, #4e4376);
    color: #ffffff;
    padding: 20px;
    margin: 40px auto;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    text-align: center;

    .about-header {
        text-align: center;
        margin-bottom: 20px;

        .logo {
            width: 150px;
            height: auto;
            margin-bottom: 20px;
            animation: spin 3s linear infinite;
            border-radius: 24%;
        }

        h1 {
            font-size: 2.5rem;
            color: #ffd700;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
        }
    }

    .about-content {
        p {
            font-size: 1.2rem;
            line-height: 1.8;
            margin-bottom: 20px;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

            a {
                color: #ffd700;
                text-decoration: none;
                font-weight: bold;
                transition: color 0.3s;

                &:hover {
                    color: #ff8c00;
                }
            }

            code {
                background-color: rgba(0, 0, 0, 0.596);
                border-radius: 5px;
                padding: 2px 5px;
            }

        }

        & note {
            font-size: 14px;
        }
    }




    .about-footer {
        text-align: center;
        margin-top: 20px;
        font-size: 1rem;
        position: relative;

        p {
            margin: 0;
            padding: 10px;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            display: inline-block;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.1);
                cursor: pointer;

                &::after {
                    content: "Yossef Dahan | GitHub | LinkedIn";
                    display: block;
                    color: #ffd700;
                    margin-top: 10px;
                }
            }
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        30% {
            transform: rotate(30deg);
        }

        60% {
            transform: rotate(0deg);
        }

        80% {
            transform: rotate(-30deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }
}