.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding-medium;
    background-color: $background-gray;
    border-radius: $border-radius-medium;
    box-shadow: $box-shadow-medium;
    font-family: $secondary-font;
    max-width: 100%;

    p {
        margin: $padding-large 0 0 0;
        font-size: $font-size-xsmall;
    }

    h2 {
        margin-bottom: $padding-small;
        color: $dark-gray-color;
        font-family: $primary-font;
        font-size: 23px;
    }

    .pill-switch {
        position: relative;
        display: flex;
        align-items: center;
        margin: $padding-small 0;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .pill-label {
            position: relative;
            cursor: pointer;
            width: 60px;
            height: 30px;
            background-color: $accent-color;
            transition: .4s;
            border-radius: 34px;

            .pill-indicator {
                position: absolute;
                height: 26px;
                width: 26px;
                left: 2px;
                bottom: 2px;
                background-color: white;
                transition: .4s;
                border-radius: $border-radius-circle;
            }
        }

        input:checked+.pill-label {
            background-color: $accent-color-checked;
        }

        input:checked+.pill-label .pill-indicator {
            transform: translateX(30px);
        }
    }

    .status-text {
        font-size: 15px;
        color: $accent-color;

        .pill-switch input:checked~& {
            color: $accent-color-checked;
        }
    }

    .home-btn {
        background: $gradient-primary;
        color: #fff;
        border: none;
        border-radius: $border-radius-large;
        cursor: pointer;
        font-family: $secondary-font;
        font-size: $font-size-xxsmall;
        width: 60px;
        height: 30px;
        text-align: center;
    }

    .room-chat {
        width: 100%;
        max-width: $max-width-chat-container;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: $secondary-font;

        .chat-container {
            max-height: $max-height-chat-container;
            min-height: $min-height-chat-container;
            overflow-y: auto;
            border: 1px solid $border-gray;
            padding: $padding-small;
            margin-bottom: $padding-small;
            background-color: #fff;
            border-radius: $border-radius-medium;
            box-shadow: $box-shadow-inset;

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;

                li {
                    display: flex;
                    align-items: center;
                    padding: 8px 10px;
                    margin-bottom: 10px;
                    border-radius: 10px;
                    max-width: 80%;
                }

                .user-msgs {
                    background: $user-msg-bg;
                    align-self: flex-start;
                }

                .bot-msgs {
                    background: $bot-msg-bg;
                    align-self: flex-end;
                }
            }
        }

        form {
            display: flex;
            align-items: center;
            font-family: $secondary-font;

            input[type="text"] {
                flex-grow: 1;
                padding: $input-padding;
                border: 1px solid $border-gray;
                border-radius: $border-radius-large;
                margin-right: $padding-small;
                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                transition: border 0.3s;

                &:focus {
                    border-color: #6a11cb;
                    outline: none;
                }
            }

            .send-btn {
                padding: $padding-small $padding-medium;
                background: $gradient-chat-btn;
                color: #fff;
                border: none;
                border-radius: $border-radius-large;
                cursor: pointer;
                transition: background-color 0.3s, transform 0.2s;
                font-family: $primary-font;

                &:hover {
                    transform: $transform-scale-hover;
                }

                &:active {
                    transform: $transform-scale-active;
                }

                @media (max-width: 600px) {
                    max-width: fit-content;
                }
            }
        }
    }
}