.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    p {
        margin: 0;
        font-size: 14px;
    }

    h2 {
        margin-bottom: 10px;
        color: #333;
    }

    .pill-switch {
        position: relative;
        display: flex;
        align-items: center;
        margin: 10px 0 10px 0;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .pill-label {
            position: relative;
            cursor: pointer;
            width: 60px;
            height: 30px;
            background-color: red;
            transition: .4s;
            border-radius: 34px;

            .pill-indicator {
                position: absolute;
                height: 26px;
                width: 26px;
                left: 2px;
                bottom: 2px;
                background-color: white;
                transition: .4s;
                border-radius: 50%;
            }
        }

        input:checked+.pill-label {
            background-color: green;
        }

        input:checked+.pill-label .pill-indicator {
            transform: translateX(30px);
        }
    }

    .status-text {
        font-size: 15px;
        color: red;

        .pill-switch input:checked~& {
            color: green;
        }
    }



    button {
        padding: 10px 20px;
        background-color: #6a11cb;
        color: #fff;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;

        &:hover {
            background-color: #2575fc;
            transform: scale(1.05);
        }

        &:active {
            transform: scale(0.95);
        }
    }

    .room-chat {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;



        .chat-container {
            max-height: 400px;
            min-height: 380px;
            /* Adjust the height as needed */
            overflow-y: auto;
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 10px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;
                flex-direction: column;

                li {
                    display: flex;
                    align-items: center;
                    padding: 8px 10px;
                    margin-bottom: 10px;
                    border-radius: 10px;
                    // word-break: break-word;
                    max-width: 80%;
                }

                .user-msgs {
                    background: #e3e3e3;
                    align-self: flex-start;
                }

                .bot-msgs {
                    background: #d1e7dd;
                    align-self: flex-end;
                    // text-align: left;
                    // flex-direction: column;
                }
            }
        }

        form {
            display: flex;
            align-items: center;

            input[type="text"] {
                flex-grow: 1;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 20px;
                margin-right: 10px;
                box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
                transition: border 0.3s;

                &:focus {
                    border-color: #6a11cb;
                    outline: none;
                }
            }

            button {
                padding: 10px 20px;
                background-color: #6a11cb;
                color: #fff;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                transition: background-color 0.3s, transform 0.2s;

                &:hover {
                    background-color: #2575fc;
                    transform: scale(1.05);
                }

                &:active {
                    transform: scale(0.95);
                }

                @media (max-width: 600px) {

                    max-width: fit-content;

                }
            }

        }
    }
}