.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 100vh;
    // width: 100vw;



    h2 {
        text-align: center;
    }

    ul {
        display: flex;
        justify-content: center;
        gap: 10px;
        list-style-type: none;
        padding: 0;
        flex-wrap: wrap;
    }

    .image-btn {
        border: none;
        background: none;
        cursor: pointer;

        img {
            width: 200px;
            height: 200px;
        }
    }
}